<ng-container *ngIf="categories$ | async as categories; else loader">
  <span *ngFor="let category of categories">
    <!-- Root nodes -->
    <span *ngIf="category.children && category.children.length > 0">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="childMenu">
        {{ category.name }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <app-nested-menu
        #menu
        [items]="category.children"
        (childMenuEmitter)="setChildMenu($event)"
      ></app-nested-menu>
    </span>
    <!-- Menu without child nodes -->
    <span *ngIf="!category.children || category.children.length === 0">
      <button mat-button color="primary">
        {{ category.name }}
      </button>
    </span>
  </span>
</ng-container>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
